#SDContainer {
    position: relative;
    min-height:500px;
}
#SDHeader {
    text-align:center;
    text-shadow:2px 1px 1px #9cc6e5;
    font-size:30px;
    color:#0c0c0c;
    font-family:'Microsoft YaHei';
}

#SDMainBody {
    position: absolute;
    width: 100%;
    top:50px;
    bottom:0px;
}
#SDLeft {
    position: absolute;
    left: 0px;
    width: 200px;
    top:0px;
    bottom:0px;
    border-right: 1px solid #b2b2b2;
}
#SDRight {
    position: absolute;
    left: 200px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: 1px solid #b2b2b2;
}
#SDStatusRegion {
    border-bottom: 1px solid #b2b2b2;
    position: absolute;
    height: 60%;
    width: 100%;
}
#SDOperate {
    position:absolute;
    top:60%;
}

.ServerOptions {
    position:relative;
    padding:5px;
    font-size:17px;
    text-align:center;
    color:#333131;
    font-family:'Microsoft YaHei';
    text-shadow:1px 1px 1px #808080;
    background-color:#f2e6e6;
    border:1px solid #b2b2b2;
    cursor:pointer;
}
.ServerOptions:hover {
    background-color: White;
}

.servers {
    position: relative;
    float: left;
    height:auto;
    width:128px;
    margin:10px;
}
.severStatus {
    width: 128px;
    height: 128px;
    cursor:pointer;
}
.serverExplain {
    text-align:center;
    padding:2px;
    font-size:14px;
    color:#829adb;
    font-family:'Microsoft YaHei';
}
.normalServer {
    background-image: url('../Resource/normalServer.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
}
