body {
    margin:0px;
    height:100%;
    padding:0px;
}
.autoScreen {
    position:absolute;
}
.CWHeader {
    position: relative;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #b2b2b2;
}

.SButton {
    background-color:#f2ecec;
    text-align:center;
    text-shadow:1px 1px 1px #747882;
    padding:4px;
    font-size:14px;
    font-family:'Microsoft YaHei';
    min-width:40px;
    border:1px solid #b2b2b2;
    border-radius:3px;
    cursor:pointer;
}
.SButton:hover {
    background-color:#c8d6eb;
}